<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h1 th:text="'Hi ' + ${userName}">Hi Admin</h1>
<p>Email: <span th:text="${userEmail}">user@example.com</span></p>

<!-- Admin Functions -->
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <h2>Admin Functions</h2>
    <!-- Admin-specific content -->
</div>

<!-- Employee Functions -->
<div sec:authorize="hasRole('ROLE_EMPLOYEE')">
    <h2>Employee Functions</h2>
    <!-- Employee-specific content -->
</div>
</body>
</html>
