<!-- login.html -->
<div class="login-container">
    <div class="login-header">
        <img src="/images/wearing.png" alt="Adiclub logo" class="logo">
        <h2>LỢI ÍCH ISD CLUB CỦA BẠN ĐANG CHỜ ĐÓN</h2>
        <p>Nhận miễn phí giao hàng, phiếu giảm giá và sản phẩm dành riêng cho thành viên khi bạn tham gia adiClub.</p>
    </div>

    <div class="login-form">
        <p>Đăng nhập hoặc đăng ký (miễn phí)</p>
        <div class="social-login">
            <button class="apple-login"></button>
            <button class="facebook-login">f</button>
            <button class="google-login">
                <a th:href="@{/oauth2/authorization/google}" class="google-login">
                    G
                </a>
            </button>
        </div>

        <input type="email" placeholder="Địa chỉ email" required>

        <div class="checkbox-group">
            <label><input type="checkbox" required>Vâng, tôi đã trên 18 tuổi.</label>
            <label><input type="checkbox" required>Tôi đã đọc, hiểu và chấp nhận <a href="#">Chính sách bảo mật</a>.</label>
            <label><input type="checkbox">Tôi đồng ý cho phép adidas sử dụng dữ liệu của tôi.</label>
        </div>

        <button class="submit-button">Đăng ký</button>
    </div>
</div>
